<h1>Carts#show</h1>
<p>Find me in app/views/carts/show.html.erb</p>


<% if @cart_items.any? %>
  <ul>
        <% total = 0 %> <!--Initialisation du prix total à 0 avant la  boucle. --->
    <% @cart_items.each do |cart_item| %>
      <li>
        <%= cart_item.item.title %> -
        <%= cart_item.item.price %> -
      </li>
      <% total += cart_item.item.price %> <!-- À chaque itération, le prix de l'article actuel est ajouté à la variable total.--->
    <% end %>
 
<!-- ... bouton stripe ... -->
      </form>
        <%= button_to "Payer le panier avec Stripe", checkout_create_path(total: @cart_items.sum { |cart_item| cart_item.item.price }), class: "btn btn-primary", data: { turbo: false } %>
      </form>
<!-- ... bouton stripe ... -->
  </ul>
    <p>Total de votre panier : <%= total %></p>
<% else %>
  <p>Votre panier est vide.</p>
<% end %>

<%= link_to "Retour aux articles", items_path %>