
    <h1>Récapitulatif de votre commande</h1>
    <p>Merci d'avoir passé votre commande. Voici un récapitulatif :</p>

    <!-- Afficher les détails de la commande, par exemple : -->
    <ul>
        <% @order.items.each do |item| %>
        <li><%= item.cart.name %> - <%= item.quantity %> pièce(s)</li>
        <% end %>
    </ul>

    <!-- Ajouter les images comme pièces jointes -->
      <% @order.items.each do |item| %>
      <% image_path = "app/assets/images/#{item.cart.image_filename}" %>
        <%= attachments.inline[item.cart.image_filename] = File.read(image_path) if File.exist?(image_path) %>
      <% end %>

    <ul>
      <% @order.items.each do |item| %>
        <li>
          <%= item.cart.name %> - <%= item.quantity %> unité(s)
          <!-- Utiliser la pièce jointe dans le corps du courrier électronique -->
          <%= image_tag attachments[item.cart.image_filename].url, alt: "Chaton mignon" if attachments[item.cart.image_filename] %>
        </li>
      <% end %>
    </ul>

 