<p style="color: green"><%= notice %></p>

<!-- <%= link_to "New item", new_item_path %> -->
<div class="md:mx-20 md:mt-4">  
  <div class="bg-white py-12">
    <div class="isolate bg-white px-6 lg:px-8">
      <div class="mx-auto max-w-2xl text-center">
        <h2 class="text-3xl md:text-5xl font-medium tracking-tight text-neutral-900">Instant Miaou :</h2>
        <h2 class="text-3xl md:text-5xl font-medium tracking-tight text-neutral-900">Trouvez des Images de Chats à Acquérir</h2>
        <p class="mt-2 mb-10 text-lg leading-8 text-gray-600 md:mb-20">Il y en aura pour tous les goûts !</p>
      </div>
      <div class="container mx-auto grid max-w-2xl grid-cols-1 gap-x-1 gap-y-1 pt-3 mt-3 lg:mt-2 lg:pt-2 lg:mx-0 lg:max-w-none md::grid-cols-2 lg:grid-cols-3">
        <% @items.each do |item| %> 
          <article class="flex max-w-xl flex-col items-center justify-between">
            <div class="group relative">
              <div class="md:w-96 md:h-52 mb-1 justify-center overflow-hidden flex items-center inline-flex">
                <%= link_to(image_tag("#{item.image_url}", class: "w-full h-full object-cover", alt: "kitten hiding into a jean"), item_path(item.id)) %>
              </div>
            </div>
            <div class="relative flex items-center gap-x-4 mb-10">
              <div class="text-sm leading-6">
                <p class="font-semibold text-gray-900">
                  <%= link_to(item.title, item_path(item.id)) %>
                </p>
                <p class="text-gray-600 text-center"><%= item.price %> euros</p>
              </div>
            </div>
          </article>
        <% end %>
      </div>
    </div>
  </div>
</div>
