<p style="color: green"><%= notice %></p>

<!--Jumbotron / hero section-->
<section class="">
  <%= render 'hero' %>
</section>

<div id="items">
  <% @items.each do |item| %>
    <%= render item %>
    <p>
      <%= link_to "Show this item", item %>
    </p>
  <% end %>
</div>

<!-- <%= link_to "New item", new_item_path %> -->
