<!DOCTYPE html>
<html>
  <head>
    <title>KittyKat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   
    <!-- FLOWBITE MA GUEULE --> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.css" rel="stylesheet" />

    <!-- librairie de stripe --> 
    <script src="https://js.stripe.com/v3/"></script>

    <!--CDN Tailwind-->
    <script src="https://cdn.tailwindcss.com"></script>
    <style type="text/tailwindcss">
      @layer utilities {
        .content-auto {
          content-visibility: auto;
        }
      }
    </style>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="min-h-screen">

    <!-- À l'avenir retirer absolute pour pas que navbar et reste se chevauche-->
    <header class="inset-x-0 top-0 z-50">
      <%= render 'layouts/navbar' %>
    </header>

      <%= yield %>

      
    <%= render 'layouts/footer' %>
      
    <% if notice != nil %>
      <%= render 'layouts/toast' %>
    <% end %>
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script> <!-- FLOWBITE MA GUEULE --> 
  </body>
</html>
